/* Global */
:root {
    --theme-color: #0a69b7;
    --background-color: #ececec;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 2rem;
    text-align: center;
    color: var(--theme-color);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
}

/* Header */
.logo {
    color: #ffffff;
}

.logo h1 {
    font-size: 3.5rem;
    font-family: Avenir, sans-serif;
}

.header {
    display: flex;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    background-color: var(--theme-color);
}

.menu-toggle {
    display: none;
}

nav {
    width: 100%;
    padding-left: 1rem;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-item {
    padding: 1rem;
}

.nav-link {
    font-family: Avenir, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #fff;
    white-space: nowrap;
}

.nav-link:hover {
    color: #000000;
}

/* Hero */
.hero {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 0 0;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
}

.hero-text {
    padding-top: 15vh;
    font-family: Tahoma, sans-serif;
    font-size: 7rem;
    color: var(--theme-color);
}

/* Timetable */
.timetable-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: var(--theme-color);
}

.timetable-page h2 {
    margin-bottom: 3vh;
    font-size: 3.5rem;
    font-family: Avenir, sans-serif;
}

.timetable-holder {
    max-width: 100vw;
    overflow-x: auto;
}

.timetable {
    font-family: Avenir, sans-serif;
    color: #ffffff;
    background-color: var(--theme-color);
    border-collapse: collapse;
}

.timetable tr:nth-child(1),
.timetable tr td:nth-child(1), 
.timetable tr:nth-child(2) td:nth-child(4) {
    font-weight: bold;
}

.timetable tr td{
    width: 10rem;
    min-width: 6rem;
    height: 5rem;
    text-align: center;
    border: solid 1px #ffffff;
}

.timetable-text-below {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

/* Trainers */
.trainers-page {
    display: block;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 3vh;
    text-align: center;
    color: var(--theme-color);
    background-color: var(--background-color);
}

.trainers-overview h2 {
    margin-bottom: 3vh;
    font-size: 3.5rem;
    font-family: Avenir, sans-serif;
}

.trainers-overview p {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.trainer-cards {
    display: flex;   
}

.trainer-card {
    width: 8rem;
    height: 8rem;
    margin: 5rem auto 15rem;
    align-items: center;
}

.trainer-name {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}

/* About Us */
.aboutus {
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 3vh;
    text-align: center;
    color: var(--theme-color);
    background-color: var(--background-color);
}

.aboutus h2 {
    margin-bottom: 3vh;
    font-size: 3.5rem;
    font-family: Avenir, sans-serif;
}

.aboutus-text {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

/* Contact */
.contact {
    min-height: 100vh;
    padding-top: 15vh;
    text-align: center;
}

.contact h2 {
    font-size: 3.5rem;
    font-family: Avenir, sans-serif;
    color: var(--theme-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-name-email-holder input {
    margin: 4.5rem 3rem;
}

.contact-name,
.contact-email,
.contact-message {
    width: 15vw;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-bottom: solid 1px var(--theme-color);
}

.contact-message {
    max-height: 20vh;
    margin: 0 auto;
    resize: vertical;
}

.contact-form button {
    padding: 0.6rem 2.3rem;
    margin: 2.2rem auto;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--theme-color);
    border: solid 1px var(--theme-color);
    border-radius: 10px;
    background: none;
    transition: 0.2s linear;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--theme-color);
    color: #fff;
}

/* Footer */
footer {
    padding-top: 2rem;
    text-align: center;
    background-color: var(--theme-color);
}

footer h3 {
    padding-bottom: 1rem;
    font-family: Avenir, sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
}

footer p {
    font-family: Avenir, sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    width: 4rem;
    margin: 2rem 0;
    padding: 0 0.9rem;
    list-style: none;
}

@media screen and (max-width: 1050px) {

    /* Header */
    .header.dropdown .nav-list {
        display: block;
        background-color: var(--theme-color);
    }

    .header.dropdown nav {
        padding: 0;
    }

    .header.dropdown {
        display: block;
        padding: 0;
    }
    
    .header.dropdown .logo h1 {
        padding-left: 1rem;
    }

    .nav-list {
        display: none;
    }

    .menu-toggle {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        display: block;
        width: 2.5rem;
        color: #ffffff;
        cursor: pointer;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    /* Hero */
    .hero-text {
        padding-top: 20vh;
        font-size: 5rem;
    }

    /* About Us */
    .aboutus-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px) {

    /* Hero */
    .hero-text {
        padding-top: 25vh;
        font-size: 3.5rem;
    }

    /* timetable */
    .timetable-page h2 {
        font-size: 2rem;
    }

    .timetable-text-below {
        font-size: 1.3rem;
    }

    /* Trainers */
    .trainers-overview p {
        margin-bottom: 5rem;
    }

    .trainer-cards {
        display: block;
    }

    .trainer-card {
        margin: 0 auto 15rem;
    }

    /* About Us */
    .aboutus {
        padding-top: 2vh;
    }

    .aboutus h2 {
        margin-bottom: 2vh;
        font-size: 2rem;
    }

    .aboutus-text {
        font-size: 1.5rem;
    }

    /* Contact */
    .contact h2 {
        font-size: 2rem;
    }

    .contact-name-email-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-name-email-holder input {
        width: auto;
        margin: 1rem auto;
    }

    .contact-message {
        width: auto;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1600px) {

    /* Hero */
    .hero-text {
        font-size: 10rem;
    }

    /* Timetable */
    .timetable-page h2 {
        font-size: 6rem;
    }

    .timetable {
        font-size: 2rem;
    }

    .timetable tr td {
        width: 20rem;
        height: 10rem;
    }

    /* Trainers */
    .trainers-overview h2 {
        font-size: 6rem;
    }

    .trainers-overview p {
        font-size: 2.5rem;
    }

    .trainer-card {
        width: 16rem;
        height: 16rem;
    }

    .trainer-name {
        font-size: 2rem;
    }

    .trainer-card figcaption {
        font-size: 1.7rem;
    }

    /* About Us */
    .aboutus {
        padding-top: 2vh;
    }

    .aboutus h2 {
        margin-bottom: 5vh;
        font-size: 8rem;
    }

    .aboutus-text {
        font-size: 4rem;
    }

    /* Contact */
    .contact h2 {
        font-size: 7rem;
    }

    .contact-name,
    .contact-email,
    .contact-message {
        width: 30vw;
        font-size: 2rem;
    }

    .contact-form button {
        margin-top: 5rem;
        font-size: 2rem;
        border-width: 2px;
    }
}